body {
    background-image: linear-gradient(to bottom right, darkblue, aqua);
    background-repeat: no-repeat;
}

h1 {
    color: azure;
}

img {
    border: 5px double darkblue;
    border-radius: 10px;
}

h2 {
    color: aquamarine;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

table, th, td {
    border: 1px solid darkred;
    padding: 3px;
    margin: 50px auto 20px auto;
}

.narandzasti {
    color: orange;
    font-size: 20px;
}

#oker {
    color: rgba(184, 184, 40, 0.781);
    font-size: 22px;
}

#crveni_link:link {
    color: red;
}

#crveni_link:hover {
    color: green;
}

button {
    margin-top: 20px;
    color: brown;
    background-color: azure;
    border: 1px red dashed;
    font-size: 15px;
    padding: 4px 8px;
}